<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RevitFamilyManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="RevitFamilyManager.Property.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <userSettings>
    <RevitFamilyManager.Properties.Settings>
      <setting name="RootFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting1" serializeAs="String">
        <value />
      </setting>
      <setting name="FamilyPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FamilyType" serializeAs="String">
        <value />
      </setting>
      <setting name="FamilyName" serializeAs="String">
        <value />
      </setting>
      <setting name="RevitVersion" serializeAs="String">
        <value />
      </setting>
    </RevitFamilyManager.Properties.Settings>
    <RevitFamilyManager.Property.Settings>
      <setting name="RootFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting1" serializeAs="String">
        <value />
      </setting>
    </RevitFamilyManager.Property.Settings>
  </userSettings>
</configuration>